#logout-button {
    position: fixed;
    top: 10px;
    right: 10px; /* Отступ справа */
}

body {
    background: #282c34;
}

#coordinate-plate {
    margin-top: 3%;


}

#forms {
    margin-top: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование внутри формы */
    height: auto; /* Высота автоматически под содержимое */
    background-color: white;;
    padding: 7px 7px;
    border-radius: 10px;
}

.type-form {
    margin-bottom: 6px;

}

#main-container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Расстояние между координатной плоскостью и формой */
    margin-top: 5%;
}

#result-table {
    max-height: 450px; /* Фиксированная высота для таблицы */
    overflow-y: auto; /* Вертикальная прокрутка */
    display: block;
    border: 2px grey;
    border-collapse: collapse;
    width: 40%;
    background: white;
    border-radius: 13px;

}

#result-table th, #result td {
    width: 100px; /* Ширина ячеек для корректной работы прокрутки */
    text-align: center;
}

.results {
    width: 100px; /* Ширина ячеек для корректной работы прокрутки */
    text-align: center;
}

#greeting {

}

